@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root{
    --color-1:rgb(180, 180, 42);
    --color-2:rgb(27, 188, 251);
    --color-3:red;
}

*{padding:0;margin:0;box-sizing: border-box;}

body{height:100vh;background: white}

#header {font-size: 100px;text-align: center;user-select: none;
font-family: 'Abel', sans-serif;color:#000}
#header>img{width:80px;height:80px;margin-top: -20px;animation: spin 15s linear infinite;}

@keyframes spin{100% {transform: rotate(360deg)}}

.result-card-color-1{border:1px solid var(--color-1);border-bottom: 10px solid var(--color-1);}
.result-card-color-2{border:1px solid var(--color-2);border-bottom: 10px solid var(--color-2);}
.result-card-color-3{border:1px solid var(--color-3);border-bottom: 10px solid var(--color-3);}

.result-card-color-1>h1{color:var(--color-1)}
.result-card-color-2>h1{color:var(--color-2)}
.result-card-color-3>h1{color:var(--color-3)}

.result-card-color-1 ::selection{background: var(--color-1);color:white}
.result-card-color-2 ::selection{background: var(--color-2);color:white}
.result-card-color-3 ::selection{background: var(--color-3);color:white}

#card-img {width:40px;height:40px;}
#card-img-wrapper{display: flex;justify-content: space-between;align-items: center;}

@media (max-width:400px){
    #header{
        font-size: 50px;
        margin-top:30px;
    }
    #header>img{width:40px;height:40px;margin-top: -10px}

}

