@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{padding:0;margin:0;box-sizing: border-box;}

body{height:100vh;background: rgb(221, 219, 219);}

#header {font-size: 100px;text-align: center;user-select: none;
font-family: 'Abel', sans-serif;color:#000}
#header>img{width:80px;height:80px;margin-top: -20px;animation: spin 15s linear infinite;}

@keyframes spin{100% {transform: rotate(360deg)}}

.result-card-color-red{border:1px solid red;border-bottom: 10px solid red;}
.result-card-color-blue{border:1px solid blue;border-bottom: 10px solid blue;}
.result-card-color-green{border:1px solid green;border-bottom: 10px solid green;}

.result-card-color-red>h1{color:red}
.result-card-color-blue>h1{color:blue}
.result-card-color-green>h1{color:green}

.result-card-color-red ::selection{background: red;color:white}
.result-card-color-blue ::selection{background: blue;color:white}
.result-card-color-green ::selection{background: green;color:white}

@media (max-width:400px){
    #header{
        font-size: 50px;
        margin-top:30px;
    }
    #header>img{width:40px;height:40px;margin-top: -10px}

}

